@media (min-width: 1024px) {
  .project-card {
    width: 33.333%; /* Trois cartes par ligne sur les écrans de bureau */
  }
  .hamburger {
    display: block; /* Affiche le menu hamburger pour les écrans ≤ 600px */
  }

  nav ul {
    display: none; /* Cache la navigation traditionnelle sur les petits écrans */
  }

  .active nav ul {
    display: block; /* Affiche la navigation lorsque 'active' est ajouté */
  }
}

@media (min-width: 768px) {
  .project-card {
    width: calc(50% - 10px); /* Calcule la largeur pour inclure l'espacement */
  }
  .hamburger {
    display: block; /* Affiche le menu hamburger pour les écrans ≤ 600px */
  }

  nav ul {
    display: none; /* Cache la navigation traditionnelle sur les petits écrans */
  }

  .active nav ul {
    display: block; /* Affiche la navigation lorsque 'active' est ajouté */
  }
}

@media (max-width: 600px) {
  .hamburger {
    display: block; /* Affiche le menu hamburger pour les écrans ≤ 600px */
  }

  nav ul {
    display: none; /* Cache la navigation traditionnelle sur les petits écrans */
  }

  .active nav ul {
    display: block; /* Affiche la navigation lorsque 'active' est ajouté */
  }
}

.hamburger {
  display: block; /* Assurez-vous que l'icône du hamburger est toujours affichée */
  cursor: pointer;
  background-color: #A1BF8D; /* Couleur verte pour contraste */
  padding: 10px; /* Espace autour des barres pour faciliter le clic */
  width: 35px; /* Largeur appropriée pour l'icône */
}

.hamburger div {
  width: 100%; /* Utilisez la largeur totale du parent */
  height: 3px;
  background-color: #8DA67A; /* Vert foncé */
  margin: 4px 0; /* Espacement entre les barres */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #D9EAD3; /* Vert clair pour le fond */
  text-align: center;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  display: block;
  color: #333333; /* Texte gris foncé */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  color: #8DA67A; /* Vert plus foncé pour le survol */
}

nav ul.active {
  display: block; /* Affiche la liste lorsque 'active' est ajouté */
}

/* Styles de base et typographie */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #F4F9F3; /* Fond gris clair tirant sur le vert */
  color: #333333; /* Texte en gris foncé */
}

header {
  background-color: #D9EAD3; /* Fond vert clair */
  color: #333333; /* Texte noir pour une meilleure lisibilité */
  padding: 10px 20px;
  text-align: center;
  border-bottom: 1px solid #B6C8A7; /* Ligne de séparation subtile */
}

.link {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  transition: color 0.3s;
}

.link:hover {
  color: #8DA67A; /* Vert plus foncé pour le survol */
}

/* Section principale */
.main {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  gap: 10px;
}

/* Cartes de projet */
.project-card {
  position: relative;
  flex: 1 1 200px;
  margin: 5px;
  background-color: #D9EAD3; /* Vert clair */
  border: 1px solid #B6C8A7;
  border-radius: 8px;
  overflow: hidden;
  transition: box-shadow 0.3s, transform 0.3s;
  width: 100%;
  max-width: 310px;
  height: auto;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.project-card img {
  order: 2;
  max-width: 100%;
  height: auto;
  display: block;
}

.project-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(217, 234, 211, 0.8); /* Fond semi-transparent */
  font-size: 18px;
  color: #333333;
  text-align: center;
  padding: 10px 0;
  z-index: 2;
}

/* Boutons et liens */
button, .button {
  background-color: #8DA67A; /* Vert foncé */
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover, .button:hover {
  background-color: #A1BF8D; /* Vert plus clair pour survol */
}

/* Pied de page */
footer {
  background-color: #D9EAD3; /* Fond vert clair */
  color: #333333;
  text-align: center;
  padding: 5px 0;
  border-top: 1px solid #B6C8A7;
}

footer p {
  margin: 0;
  font-weight: bold;
}

/* Formulaires */
.contact-box input, .contact-box textarea {
  background-color: #F4F9F3; /* Fond clair */
  border: 1px solid #B6C8A7;
}

.contact-box button {
  background-color: #8DA67A; /* Vert foncé */
}

.contact-box button:hover {
  background-color: #A1BF8D; /* Vert clair pour le survol */
}
